/* File Created: June 25, 2012 */


@import "elements.less";


html, body 
{
	height: 100%;	
	background-image: url("img/gray_pattern_1.png");
	//background-repeat: repeat-x;

}

.main 
{
	padding: 10px;
	background: #fff;
	.rounded(5px);
	.drop-shadow(5px, 10px, 5px, .5);
}




#table_grid tr {
	cursor: pointer;
	
}

.green_row {
	color: white;
	background: rgb(255,175,75); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,175,75,1) 0%, rgba(255,51,0,1) 91%, rgba(255,51,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(91%,rgba(255,51,0,1)), color-stop(100%,rgba(255,51,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,51,0,1) 91%,rgba(255,51,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,51,0,1) 91%,rgba(255,51,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,51,0,1) 91%,rgba(255,51,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,175,75,1) 0%,rgba(255,51,0,1) 91%,rgba(255,51,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff3300',GradientType=0 ); /* IE6-9 */


	
}

.k-grid > table > tbody > tr:hover,
.k-grid-content > table > tbody > tr:hover
{
		background: #cdeb8e; /* Old browsers */
		background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* IE10+ */
		background: linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */

}

h1, h2, h3 
{
	color: #666;
	margin-bottom: 10px;
}

h4
{
	font-family: ariel Sans-Serif;
	color: #ccc;
 
}

li 
{
	list-style-type: none;
}

.footer 
{
	margin-top: 100px;

}

.facebook 
{
	background-image: url("images/facebook-icon.png");    
	background-repeat: no-repeat;	
	display:block;
	height:40px;
	width:auto;
	text-indent: -1999px
}


.twitter 
{
	background-image: url("images/twitter-icon.png");    
	background-repeat: no-repeat;	
	display:block;
	height:40px;
	width:auto;
	text-indent: -1999px
}


.set_details_container 
{
	height: 200px;
}



//***** CUSTOM CHECKBOXES *****
.input-switch + label {
		position: relative;	
		margin-left: 10px;	
		display: inline-block;
		height: 25px; width: 75px;
		border: 1px solid #000;
		border-radius: 5px;
		background-color: #666;
		line-height: 25px;
		text-align: left;
		-webkit-transition: background-color 0.5s;
	}
	.input-switch {
		display: none;		
	}
	.input-switch + label span.grip {
		position: absolute;
		top: 0px; left: 0px;
		display: inline-block;
		width: 15px; height: 25px;
		background-color: #EEE;
		border-radius: 5px;
		-webkit-transition: left 0.5s;    
	}
	.input-switch + label span.switch-label {
		position: absolute;
		display: inline-block;
		top: 0px; left: 17px;
		width: 56px;
		overflow: hidden;
		text-align: center;
		-webkit-transition: opacity 0.5s;    
	}
	.input-switch + label span.switch-label.on {
		left: 2px;
		opacity: 0;
	}
	.input-switch:checked + label {
		background-color: #39F;
	}
	.input-switch:checked + label span.grip {
		left: 60px;
	}
	.input-switch:checked + label span.switch-label {
		opacity: 0;
	}
	.input-switch:checked + label span.switch-label.on {
		opacity: 1;
	}

	.check-feature-label{		
		font-size: 18px;
		position: absolute;
		margin-top: 5px;
		margin-left: 10px;
		
		
	}