@model FranchiseManagerTest.Models.User

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete @Model.UserName?</h3>

@using (Html.BeginForm()) {
   <div>
        <a href="#" class="btn btn-large" data-dismiss="modal">Cancel</a>
        <button type="submit" class="btn btn-large btn-danger" >
            <i class="icon-trash icon-white"></i>
            Delete @Model.UserName
        </button>
    </div>
}


