@model FranchiseManagerTest.Models.Feature

@{
    ViewBag.Title = "Create";
}

<h3>Create a Feature</h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>        

		@Html.Partial("_CreateOrEdit", Model)

        <br /><br />
        <a href="/Feature" class="btn btn-large">Cancel</a>
        <button type="submit" class="btn btn-large btn-primary" >
            <i class="icon-check icon-white"></i>
            Create Feature
        </button>
    </fieldset>
}




