@model FranchiseManagerTest.Models.Feature

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Feature</legend>

    <div class="display-label">FeatureName</div>
    <div class="display-field">@Model.FeatureName</div>

    <div class="display-label">FranchiseSets</div>
    <div class="display-field">@(Model.FranchiseSets == null ? "None" : Model.FranchiseSets.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FeatureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


