@model FranchiseManagerTest.Models.FranchiseSet

@{
	ViewBag.Title = "Create";
}

<h2>Create New Franchise Set</h2>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	<fieldset>        

		@Html.Partial("_CreateOrEdit", Model)
		
		<br /><br />
		<div>
			<a href="/FranchiseSet" class="btn btn-large">Cancel</a>
			<button type="submit" class="btn btn-large btn-primary" >
				<i class="icon-check icon-white"></i>
				Create Franchise Set
			</button>
		</div>
	</fieldset>
}




