@model FranchiseManagerTest.Models.Franchise

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>        

		@Html.Partial("_CreateOrEdit", Model)

        <br />
        <div>
            <a href="#" class="btn btn-large" data-dismiss="modal">Cancel</a>
            <button type="submit" class="btn btn-large btn-primary" >
                <i class="icon-check icon-white"></i>
                Create Franchise
            </button>
        </div>
    </fieldset>
}





